body {
	min-height: 250vh;
}

::-webkit-scrollbar-button {
	width: 5px;
	height: 0px;
}

/* Цвет дорожки, по которой двигается бегунок прокрутки. */
::-webkit-scrollbar-track {
	background-color: #47494b;
}

/* Цвет бегунка полосы, а так же его закругление. */
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color: rgb(185, 146, 19);
}

/* Цвет бегунка при наведении на него курсора. */
::-webkit-scrollbar-thumb:hover {
	background-color: #5a8f1a;
}

/* Основная ширина полосы прокрутки. */
::-webkit-resizer {
	width: 4px;
	height: 0px;
}
::-webkit-scrollbar {
	width: 8px;
}

